    fastapi
    uvicorn[standard]
    python-dotenv
    mysql-connector-python
    
    # --- Bibliothèques pour le LLM et LangChain ---
    langchain
    langchain-community
    torch
    transformers
    sentencepiece
    accelerate
    
    # --- Bibliothèques pour la recherche dans data.txt (RAG) ---
    faiss-cpu
    sentence-transformers
