fastapi
uvicorn
python-dotenv
mysql-connector-python
numpy
# --- Bibliothèques pour le LLM et LangChain ---
langchain
langchain-community
torch
transformers
sentencepiece
# --- Bibliothèques pour la recherche dans data.txt (RAG) ---
faiss-cpu
sentence-transformers
